@import "../vars";

@mixin font($size-min: 16px, $size-max, $height-min: 120%, $height-max) {
	font-size: responsive $size-min $size-max;
	line-height: responsive $height-min $height-max;
}

@mixin font-h1 {
	font-family: $font-secondary;
	font-weight: 700;
	@include font(32px, 52px, 45px, 64px);
}

@mixin font-h2 {
	font-family: $font-secondary;
	font-weight: 600;
	@include font(32px, 52px, 45px, 64px);
}

@mixin font-h3 {
	font-family: $font-primary;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

@mixin font-title-XL {
	font-family: $font-secondary;
	font-weight: 600;
	font-size: 28px;
	line-height: 35px;
}

@mixin font-title-L {
	font-family: $font-secondary;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

@mixin font-title-M {
	font-family: $font-primary;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}

@mixin font-title-S {
	font-family: $font-secondary;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}

@mixin font-title-XS {
	font-family: $font-secondary;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

@mixin font-price {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 32px;
	line-height: 28px;
}

@mixin font-price-S {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

@mixin font-button {
	font-family: $font-secondary;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

@mixin font-body {
	font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: normal;
}
