<header class="header">
	<div class="container header__container">
		<nav class="nav header__nav">
			<form action="#" class="search-form header__search-form header__search-form_mobile">
				<input type="search" placeholder="Search" class="search-form__input">
			</form>
			<ul class="nav__list">
				<li class="nav__item"><a href="#" class="nav__link nav__link_active">All</a></li>
				<li class="nav__item"><a href="#" class="nav__link">For cats</a></li>
				<li class="nav__item"><a href="#" class="nav__link">For dogs</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Our blog</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
			</ul>
		</nav>
		<ul class="social header__social">
			<li class="social__item">
				<a href="#" target="_blank" class="social__link">
					<svg>
						<use xlink:href="img/sprite.svg#insta">
						</use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" target="_blank" class="social__link">
					<svg>
						<use xlink:href="img/sprite.svg#facebook">
						</use>
					</svg>
				</a>
			</li>
		</ul>
		<div class="shop-nav header__shop-nav">
			<div class="shop-nav__item">
				<a href="#" class="shop-nav__link shop-nav__link_cart">
					<svg>
						<use xlink:href="img/sprite.svg#cart">
						</use>
					</svg>
				</a>
			</div>
			<div class="shop-nav__item">
				<a href="#" class="shop-nav__link shop-nav__link_wishlist">
					<svg>
						<use xlink:href="img/sprite.svg#heart">
						</use>
					</svg>
				</a>
			</div>

		</div>
		<form action="#" class="search-form header__search-form">
			<input type="search" placeholder="Search" class="search-form__input">
		</form>
		<button class="burger">
			<span class="burger__line"></span>
		</button>
	</div>
</header>