<section class="main-block">
	<div class="container main-block__container">
		<div class="main-block__content">
			<div class="main-block__headline">Help your animals enjoy their life</div>
			<h1 class="main-block__title">The cutest and the furriest pets choose Sobaken!</h1>
			<p class="main-block__description">
				Long lasting effect! Keeping your kitty healthy and flea prevented! Choose the best based on&nbsp;the
				honest reviews and active ingredients!
			</p>
			<div class="main-block__buttons">
				<a href="#" class="button button_primary">
					<svg>
						<use xlink:href="img/sprite.svg#cat">
						</use>
					</svg>
					For cats</a>
				<a href="#" class="button button_secondary">
					<svg>
						<use xlink:href="img/sprite.svg#dog">
						</use>
					</svg>For dogs</a>
			</div>
		</div>
		<div class="main-block__image">
			<span class="circle-img circle-img_primary">
				<img src="img/girl_and_dog.png" alt="Girl and dog">
			</span>
		</div>
		<div class="swiper swiper-benefits">
			<ul class="swiper-wrapper card-benefits main-block__card-benefits">
				<li class="swiper-slide card-benefits__item">
					<div class="card-benefits__title">
						<svg>
							<use xlink:href="img/sprite.svg#age-restriction">
							</use>
						</svg>
						Age of using
					</div>
					<p class="card-benefits__description">
						You can start use Collar from 3 month age
						of your pet.
					</p>
				</li>
				<li class="swiper-slide card-benefits__item">
					<div class="card-benefits__title">
						<svg>
							<use xlink:href="img/sprite.svg#heart">
							</use>
						</svg>
						Charity
					</div>
					<p class="card-benefits__description">
						With every sold collar we donate 3$ to Organizations that are engaged in saving animals
					</p>
				</li>
				<li class="swiper-slide card-benefits__item">
					<div class="card-benefits__title">
						<svg>
							<use xlink:href="img/sprite.svg#heart">
							</use>
						</svg>
						8 month protection
					</div>
					<p class="card-benefits__description">
						We protect your pet or puppy from flea and ticks 24h/7 days a week during 8 MONTHS
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>