<section class="catalog">
	<div class="container">
		<div class="catalog__header">
			<h2 class="catalog__title catalog__title_primary">
				<svg>
					<use xlink:href="img/sprite.svg#cat">
					</use>
				</svg>
				Our products for cats
			</h2>
			<a href="#" class="button button_secondary-light">View all (14)</a>
		</div>
		<div class="swiper swiper-catalog-cat">
			<ul class="swiper-wrapper grid-products">
				<li class="swiper-slide grid-products__item">
					<article class="card-product">
						<div class="card-product__badges">
							<span class="card-product__badge card-product__badge_sale">-15%</span>
						</div>
						<div class="card-product__image">
							<img src="img/product-cat.jpg" loading="lazy" alt="Product for cat">
						</div>
						<a href="#" class="card-product__link"></a>
						<h3 class="card-product__title">
							SOBAKEN Flea Collar for Cat, Natural Flea Collar
						</h3>
						<div class="card-product__prices">
							<span class="card-product__price card-product__price_current">$123.32</span>
							<span class="card-product__price card-product__price_old">$145</span>
						</div>
						<div class="card-product__buttons">
							<button class="button button_light">
								<svg>
									<use xlink:href="img/sprite.svg#cart">
									</use>
								</svg>
								Add to cart
							</button>
							<svg class="card-product__wishlist">
								<use xlink:href="img/sprite.svg#heart">
								</use>
							</svg>
						</div>
					</article>
				</li>
				<li class="swiper-slide grid-products__item">
					<article class="card-product">
						<div class="card-product__badges">
							<span class="card-product__badge card-product__badge_sale">-15%</span>
						</div>
						<div class="card-product__image">
							<img src="img/product-cat.jpg" loading="lazy" alt="Product for cat">
						</div>
						<a href="#" class="card-product__link"></a>
						<h3 class="card-product__title">
							SOBAKEN Flea Collar for Cat, Natural Flea Collar
						</h3>
						<div class="card-product__prices">
							<span class="card-product__price card-product__price_current">$123.32</span>
							<span class="card-product__price card-product__price_old">$145</span>
						</div>
						<div class="card-product__buttons">
							<button class="button button_light">
								<svg>
									<use xlink:href="img/sprite.svg#cart">
									</use>
								</svg>
								Add to cart
							</button>
							<svg class="card-product__wishlist">
								<use xlink:href="img/sprite.svg#heart">
								</use>
							</svg>
						</div>
					</article>
				</li>
				<li class="swiper-slide grid-products__item">
					<article class="card-product">
						<div class="card-product__badges">
							<span class="card-product__badge card-product__badge_sale">-15%</span>
						</div>
						<div class="card-product__image">
							<img src="img/product-cat.jpg" loading="lazy" alt="Product for cat">
						</div>
						<a href="#" class="card-product__link"></a>
						<h3 class="card-product__title">
							SOBAKEN Flea Collar for Cat, Natural Flea Collar
						</h3>
						<div class="card-product__prices">
							<span class="card-product__price card-product__price_current">$123.32</span>
							<span class="card-product__price card-product__price_old">$145</span>
						</div>
						<div class="card-product__buttons">
							<button class="button button_light">
								<svg>
									<use xlink:href="img/sprite.svg#cart">
									</use>
								</svg>
								Add to cart
							</button>
							<svg class="card-product__wishlist">
								<use xlink:href="img/sprite.svg#heart">
								</use>
							</svg>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</section>