<section class="news-section">
	<div class="container">
		<div class="news-section__header">
			<h2 class="news-section__title">Our news and titles</h2>
			<a href="#" class="button button_secondary-light">View all (14)</a>
		</div>

		<div class="swiper swiper-news">
			<div class="swiper-wrapper news-section__wrapper">
				<div class="swiper-slide">
					<article class="news">
						<img src="img/news-dog-2.jpg" class="news__background" loading="lazy" alt="News background">
						<div class="news__text">
							<div class="news__date">14/09</div>
							<h3 class="news__title">How to take care about small kitten to grow it healthy and strong?
							</h3>
							<div class="news__bottom">
								<span class="news__author">
									<span class="news__author-image">
										<img src="img/author.jpg" loading="lazy" alt="Author photo">
									</span>
									Floyd Miles
								</span>
								<a href="#" class="button button_secondary-light">Continue reading</a>
							</div>
							<a href="#" class="button button_secondary-light">Continue reading</a>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news">
						<img src="img/news-cat-1.jpg" class="news__background" loading="lazy" alt="News background">
						<div class="news__text">
							<div class="news__date">14/09</div>
							<h3 class="news__title">How to take care about small kitten to grow it healthy and strong?
							</h3>
							<div class="news__bottom">
								<span class="news__author">
									<span class="news__author-image">
										<img src="img/author.jpg" loading="lazy" alt="Author photo">
									</span>
									Floyd Miles</span>
								<a href="#" class="button button_secondary-light">Continue reading</a>
							</div>
							<a href="#" class="button button_secondary-light">Continue reading</a>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news">
						<img src="img/news-dog-1.jpg" class="news__background" loading="lazy" alt="News background">
						<div class="news__text">
							<div class="news__date">14/09</div>
							<h3 class="news__title">How to take care about small kitten to grow it healthy and strong?
							</h3>
							<div class="news__bottom">
								<span class="news__author">
									<span class="news__author-image">
										<img src="img/author.jpg" loading="lazy" alt="Author photo">
									</span>
									Floyd Miles</span>
								<a href="#" class="button button_secondary-light">Continue reading</a>
							</div>
							<a href="#" class="button button_secondary-light">Continue reading</a>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news">
						<img src="img/news-cat-2.jpg" class="news__background" loading="lazy" alt="News background">
						<div class="news__text">
							<div class="news__date">14/09</div>
							<h3 class="news__title">How to take care about small kitten to grow it healthy and strong?
							</h3>
							<div class="news__bottom">
								<span class="news__author">
									<span class="news__author-image">
										<img src="img/author.jpg" loading="lazy" alt="Author photo">
									</span>
									Floyd Miles</span>
								<a href="#" class="button button_secondary-light">Continue reading</a>
							</div>
							<a href="#" class="button button_secondary-light">Continue reading</a>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="news">
						<img src="img/news-cat-1.jpg" class="news__background" loading="lazy" alt="News background">
						<div class="news__text">
							<div class="news__date">14/09</div>
							<h3 class="news__title">How to take care about small kitten to grow it healthy and strong?
							</h3>
							<div class="news__bottom">
								<span class="news__author">
									<span class="news__author-image">
										<img src="img/author.jpg" loading="lazy" alt="Author photo">
									</span>
									Floyd Miles</span>
								<a href="#" class="button button_secondary-light">Continue reading</a>
							</div>
							<a href="#" class="button button_secondary-light">Continue reading</a>
						</div>
					</article>
				</div>
			</div>
			<div class="swiper-news__pagination swiper-pagination"></div>
		</div>
	</div>
</section>