<section class="about">
	<div class="container about__container">
		<h2 class="about__title about__title_mobile">Our animal shelter</h2>
		<div class="about__left-side">
			<div class="video about__video">
				<button class="video__button">
					<svg>
						<use xlink:href="img/sprite.svg#play">
						</use>
					</svg>
				</button>
				<video class="video__content" src="cat-about.mp4" muted loop preload="metadata"></video>
			</div>
			<ul class="facts-list about__facts">
				<li class="facts-list__item">
					<div class="facts-list__value">10 988+</div>
					<div class="facts-list__description">Animals helped</div>
				</li>
				<li class="facts-list__item">
					<div class="facts-list__value">102 988+</div>
					<div class="facts-list__description">Happy owners</div>
				</li>
				<li class="facts-list__item">
					<div class="facts-list__value">102 988+</div>
					<div class="facts-list__description">Happy owners</div>
				</li>
			</ul>
		</div>
		<div class="about__right-side">
			<div class="about__text">
				<h2 class="about__title">Our animal shelter</h2>
				<p class="about__paragraph">
					This a&nbsp;wonderful and pet safe product, the main reason why&nbsp;I purchased&nbsp;it. I&rsquo;ve
					had
					some family members describe in&nbsp;horror the adverse reactions of&nbsp;the pets while using the
					chemical collars, not for my&nbsp;little baby!
				</p>
				<p class="about__paragraph">
					This a&nbsp;wonderful and pet safe product, the main reason why&nbsp;I purchased&nbsp;it. I&rsquo;ve
					had
					some family members describe in&nbsp;horror the adverse reactions of&nbsp;the pets while using the
					chemical collars, not for my&nbsp;little baby!
				</p>

			</div>
			<div class="about__buttons">
				<a href="#" class="button button_secondary">About our shelter</a>
			</div>
		</div>
	</div>
</section>