<section class="reviews-section">
	<div class="container">
		<div class="reviews-section__container">
			<div class="reviews-section__header reviews-section__item">
				<h2 class="reviews-section__title">What people say about us</h2>
				<p class="reviews-section__description">Long lasting effect! Keeping your kitty healthy and flea
					prevented! Choose the best based on&nbsp;the honest reviews and active ingredients!</p>
			</div>


			<article class="review reviews-section__item">
				<p class="review__text">
					I&nbsp;have 2&nbsp;cats, both indoor 100% of&nbsp;the time, for the past week
					or&nbsp;so&nbsp;they
					both have been clawing, and on&nbsp;1&nbsp;we removed 20&nbsp;fleas at&nbsp;once, I&nbsp;got
					these
					collars and immediately put them on&nbsp;them and overnight.. no&nbsp;more scratching, and
					they
					haven&rsquo;t scratched since.. its almost magical, so.. I&nbsp;reccomend vehemently!
				</p>
				<div class="review__bottom">
					<span class="review__author-image">
						<img src="img/review-author1.jpg" loading="lazy" alt="Review author">
					</span>
					<h3 class="review__author-name">Chieko Chute</h3>
					<span class="review__date">12.09.2021</span>
					<div class="review__rating">5.0</div>
				</div>
			</article>
			<article class="review reviews-section__item">
				<p class="review__text">
					I&nbsp;have 2&nbsp;cats, both indoor 100% of&nbsp;the time, for the past week
					or&nbsp;so&nbsp;they
					both have been clawing, and on&nbsp;1&nbsp;we removed 20&nbsp;fleas at&nbsp;once, I&nbsp;got
					these
					collars and immediately put them on&nbsp;them and overnight.. no&nbsp;more scratching, and
					they
					haven&rsquo;t scratched since.. its almost magical, so.. I&nbsp;reccomend vehemently!
				</p>
				<div class="review__bottom">
					<span class="review__author-image">
						<img src="img/review-author2.jpg" loading="lazy" alt="Review author">
					</span>
					<h3 class="review__author-name">Darcel Ballentine</h3>
					<span class="review__date">12.09.2021</span>
					<div class="review__rating">5.0</div>
				</div>
			</article>
			<article class="review reviews-section__item">
				<p class="review__text">
					I&nbsp;have 2&nbsp;cats, both indoor 100% of&nbsp;the time, for the past week
					or&nbsp;so&nbsp;they
					both have been clawing, and on&nbsp;1&nbsp;we removed 20&nbsp;fleas at&nbsp;once, I&nbsp;got
					these
					collars and immediately put them on&nbsp;them and overnight.. no&nbsp;more scratching, and
					they
					haven&rsquo;t scratched since.. its almost magical, so.. I&nbsp;reccomend vehemently!
				</p>
				<div class="review__bottom">
					<span class="review__author-image">
						<img src="img/review-author3.jpg" loading="lazy" alt="Review author">
					</span>
					<h3 class="review__author-name">Rochel Foose</h3>
					<span class="review__date">12.09.2021</span>
					<div class="review__rating">5.0</div>
				</div>
			</article>
			<article class="review reviews-section__item">
				<p class="review__text">
					I&nbsp;have 2&nbsp;cats, both indoor 100% of&nbsp;the time, for the past week
					or&nbsp;so&nbsp;they
					both have been clawing, and on&nbsp;1&nbsp;we removed 20&nbsp;fleas at&nbsp;once
				</p>
				<div class="review__bottom">
					<span class="review__author-image">
						<img src="img/review-author4.jpg" loading="lazy" alt="Review author">
					</span>
					<h3 class="review__author-name">Augustina Midgett</h3>
					<span class="review__date">12.09.2021</span>
					<div class="review__rating">5.0</div>
				</div>
			</article>
			<article class="review reviews-section__item">
				<p class="review__text">
					I&nbsp;have 2&nbsp;cats, both indoor 100% of&nbsp;the time, for the past week
					or&nbsp;so&nbsp;they
					both have been clawing, and on&nbsp;1&nbsp;we removed 20&nbsp;fleas at&nbsp;once, I&nbsp;got
					these
					collars and immediately put them on&nbsp;them and overnight.. no&nbsp;more scratching, and
					they
					haven&rsquo;t scratched since.. its almost magical, so.. I&nbsp;reccomend vehemently!
				</p>
				<div class="review__bottom">
					<span class="review__author-image">
						<img src="img/review-author5.jpg" loading="lazy" alt="Review author">
					</span>
					<h3 class="review__author-name">Janetta Rotolo</h3>
					<span class="review__date">12.09.2021</span>
					<div class="review__rating">5.0</div>
				</div>
			</article>

		</div>
	</div>
</section>