<section class="faq">
	<div class="container">
		<h2 class="faq__title">Frequently asked questions</h2>
		<div class="faq__container">
			<div class="accordion faq__accordion">
				<details class="accordion__item">
					<summary class="accordion__header">
						<h3 class="accordion__title">How to take care about small kitten to grow it healthy and strong?
						</h3>
						<span class="accordion__button">
							<svg>
								<use xlink:href="img/sprite.svg#arrow">
								</use>
							</svg>
						</span>
					</summary>
					<p class="accordion__body">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
						consequat
						duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</details>
				<details class="accordion__item">
					<summary class="accordion__header">
						<h3 class="accordion__title">How to Raise a Kitten into a Confident Cat
						</h3>
						<span class="accordion__button">
							<svg>
								<use xlink:href="img/sprite.svg#arrow">
								</use>
							</svg>
						</span>
					</summary>
					<p class="accordion__body">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
						consequat
						duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</details>
				<details class="accordion__item">
					<summary class="accordion__header">
						<h3 class="accordion__title">How to Raise a Kitten to Be Cuddly
						</h3>
						<span class="accordion__button">
							<svg>
								<use xlink:href="img/sprite.svg#arrow">
								</use>
							</svg>
						</span>
					</summary>
					<p class="accordion__body">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
						consequat
						duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</details>
				<details class="accordion__item">
					<summary class="accordion__header">
						<h3 class="accordion__title">How to Train a Kitten
						</h3>
						<span class="accordion__button">
							<svg>
								<use xlink:href="img/sprite.svg#arrow">
								</use>
							</svg>
						</span>
					</summary>
					<p class="accordion__body">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
						consequat
						duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</details>
			</div>
			<div class="faq__image">
				<span class="circle-img circle-img_primary">
					<img src="img/girl_and_kitten.png" loading="lazy" alt="Girl and kitten">
				</span>
			</div>
		</div>
	</div>
</section>