@import "vars";

html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	--font-range: $min-vw $max-vw;

	@include font-body;

	margin: 0;
	letter-spacing: -0.04em;
	color: $color-text-primary;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

summary > * {
	display: inline;
}

.site-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.page {
	flex: 1 1 auto;
}

.is-hidden {
	display: none !important; // stylelint-disable-line declaration-no-important
}

.container {
	margin: 0 auto;
	padding: $container-padding;
	max-width: $max-vw;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.lock {
	overflow: hidden;
}
